* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
}

li.nav-link {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    font-family: 'Cinzel', serif;
}

nav ul li a {
    color: beige;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover {
    -webkit-text-stroke: 1px white;
}

div.container {
    width: 1280px;
    margin: auto;
}

nav#navbar {
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav#navbar .logo {
    width: 70px;
}

ul.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

@media (max-width: 1280px) {
    div.container {
        width: 100%;
    }
}

div#CaraPrincipalIndex {
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    padding: 0 5%;
    margin: 70px auto auto;
    height: 580px;
    background-image: url(Recursos/Fondo1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div#CaraPrincipalIndex h1 {
    font-size: 100px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

div#Carta {
    margin: auto;
    width: auto;
    height: 450px;
    background-image: url(Recursos/Fondo2.jpg);
    border: 5px solid black;
}

div#CartaDerecha {
    float: right;
    width: 300px;
    height: 450px;
    background-color: black;
    align-content: center;
}

div.Cartalink {
    text-align: center;
    padding-top: 50%;
    top: 50%;
    left: 50%;
    z-index: 2;
    align-content: center;
}

div.Cartalink a {
    color: beige;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    transition: 1.5s;
}

div.Cartalink a:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
}


div.CartaDescripcion {
    text-align: center;
}

div.CartaDescripcion a {
    color: beige;
    display: inline-block;
    padding: 60px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Cinzel', serif
}

div#Delivery {
    margin: auto;
    width: auto;
    height: 450px;
    background-image: url(Recursos/Fondo3.jpg);
    border: 5px solid black
}

div#DeliveryDerecha {
    float: right;
    width: 300px;
    height: 450px;
    background-color: black;
}

div.Deliverylink {
    text-align: center;
    padding-top: 50%;
    top: 50%;
    left: 50%;
    z-index: 2;
    align-content: center;
}

div.Deliverylink a {
    color: beige;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    transition: 1.5s;
}

div.Deliverylink a:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

div .DeliveryDescripcion {
    text-align: center;
}

div .DeliveryDescripcion a {
    color: beige;
    display: inline-block;
    padding: 60px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Cinzel', serif
}

div#Reserva {
    margin: auto;
    width: auto;
    height: 500px;
    background-image: url(Recursos/Fondo4.jpg);
    border: 5px solid black
}

div#ReservaDerecha {
    float: right;
    width: 300px;
    height: 500px;
    background-color: black;
}

div.Reservalink {
    text-align: center;
    padding-top: 50%;
    top: 50%;
    left: 50%;
    z-index: 2;
    align-content: center;
}

div .Reservalink a {
    color: beige;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    transition: 1.5s;
}

div .Reservalink a:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

div .ReservaDescripcion {
    text-align: center;
}

div .ReservaDescripcion a {
    color: beige;
    display: inline-block;
    padding: 60px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Cinzel', serif
}

/*Pagina Carta*/

div#CaraPrincipalCarta {
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    position: relative;
    padding: 0 5%;
    margin: 70px auto auto;
    height: 1000px;
    background-image: url(Recursos/Fondo5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div.menu {
    margin-top: 70px;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    height: 800px;
    width: 1300px;
    background-color: rgba(96, 100, 105, 0.726);
}

table,
th,
tr,
td.separador {
    border: 1px solid #000000;
}

table.tablamenu caption h6 {
    font-size: xx-large;
    scale: 100%;
}

table.tablamenu input {
    display: none;
}

#BotonMenu {
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    height: 100px;
    width: 100px;
    display: none;
    background-color: rgb(77, 108, 136);
}

#BotonMenu:hover {
    -webkit-text-stroke: 1px white;
}

div#muestraTotal {
    display: none;
}

table th {
    font-size: xx-large;
}

table.tablamenu {
    border: 10px inset rgb(153, 144, 144);
}

/*Pagina delivery*/

div#CaraPrincipalDelivery {
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    padding: 0 5%;
    margin: 70px auto auto;
    height: 1500px;
    background-image: url(Recursos/Fondo6.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div.registrodelivery {
    padding: 35px;
    height: 1200px;
    width: 900px;
    background-color: rgba(86, 86, 86, 0.726);
}

div .comida {
    padding: 40px;
}

div.can {
    display: none;
    padding: 3px;
    margin: 32px;
}

#CanvasBrazo1 {
    border: solid 1px rgba(0, 0, 0, 0.281);
    background-image: url(Recursos/FondoCanvas.png);
}

#CanvasBrazo2 {
    border: solid 1px rgba(0, 0, 0, 0.281);
    background-image: url(Recursos/FondoCanvas.png);
}

#canvas {
    border: solid 5px white;
    background: black;
}

.PremioCanvas {
    color: beige;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Cinzel', serif;
}

div.can h1,
span#muestraTotal {
    color: beige;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Cinzel', serif;
}

div#Premio {
    display: none;
}

div .comida button {
    height: 70px;
    width: 100px;
}

div .comida button:hover {
    -webkit-text-stroke: 1px white;
}

div.registrodelivery h2 {
    font-size: 35px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

/*Pagina reserva*/

div#CaraPrincipalReserva {
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    padding: 0 5%;
    margin: 70px auto auto;
    height: 800px;
    background-image: url(Recursos/Fondo7.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div.registroreserva {
    padding: 40px;
    height: 600px;
    width: 800px;
    background-color: rgba(86, 86, 86, 0.726);
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

div.registroreserva h2 {
    font-size: 35px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

div#reserva {
    opacity: 90%;
    display: block;
    align-items: center;
    height: 600px;
    width: 800px;
}

div.numeroreserva h3 {
    padding: 50px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

div#EnviadoReserva {
    color: beige;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    display: none;
}

/*Footer*/
footer#FooterUnico {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    top: 50%;
    left: 50%;
    margin: auto;
    width: auto;
    height: 1000px;
    background-color: rgb(10, 10, 10);
}

div.InfoRes {

    display: inline-block;
    padding: 5px;
}

div.Redes {
    display: inline-block;
    padding: 30px;
    align-items: center;
    justify-content: center;

}

div.InfoRes h3 {
    font-size: 35px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

div.InfoRes h4 {
    padding: 5px;
    font-size: 25px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

div.InfoRes h5 {
    padding: 5px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

div.Redes a.Intro {
    font-size: 15px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

nav#navred img.Logo1 {
    height: 30px;
    width: 30px;
}

div.creadores {
    padding: 110px;
}

div.creadores h6 {
    color: beige;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Cinzel', serif;
}

div.creadores h5 {
    padding: 15px;
    color: beige;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Cinzel', serif;
}

div.Contactanos {
    display: block;
    align-items: center;
}

div.Contactanos form {
    position: static;
}

div #EnviadoContacto {
    color: beige;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    display: none;
}

form input {
    width: 30%;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 15px;
    font-family: 'Cinzel', serif;
    margin-bottom: 0.7rem;
    border-radius: 5px;
}

form textarea {
    border: none;
    resize: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 15px;
    font-family: 'Cinzel', serif;
    margin-bottom: 0.7rem;
    border-radius: 5px;
}


form label {
    padding: 50px;
    color: beige;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Cinzel', serif;
}

div.Contacto {
    display: block;
    padding: 5px;
}

div.Contacto h3 {
    font-size: 35px;
    color: white;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

button {
    width: 10%;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 15px;
    font-family: 'Cinzel', serif;
    margin-bottom: 0.7rem;
    border-radius: 5px;
}